In [1]:
from vega_datasets import data

In [3]:
temps = data.sf_temps()


    Write the code necessary to visualize the minimum temperature over time.
    Write the code necessary to visualize the maximum temperature over time.
    Which month is the coldest, on average?
    Which month has the highest average temperature?
    Resample by the day and calculate the min and max temp for the day (Hint: .agg(['min', 'max'])). Use this resampled dataframe to calculate the change in temperature for the day. Which month has the highest daily temperature variability?
    Bonus: Visualize the daily min, average, and max temperature over time on a single line plot, i.e. the min, average, and maximum temperature should be 3 seperate lines.

    Resample by the day and take the average temperature. Visualize the average temperature over time.

In [6]:
temp_series = temps.set_index('date')

In [8]:
temp_series.head()

                     temp
date
2010-01-01 00:00:00  47.8
2010-01-01 01:00:00  47.4
2010-01-01 02:00:00  46.9
2010-01-01 03:00:00  46.5
2010-01-01 04:00:00  46.0

In [10]:
#Resampling with 'd' picks the [agg] of each day as the sampling point. 'Mean' is the aggregration made for
#each day.
daily_temp_avgs = temp_series.resample('d').agg('mean')

In [17]:
daily_temp_avgs.head()

                 temp
date
2010-01-01  49.170833
2010-01-02  49.304167
2010-01-03  49.391667
2010-01-04  49.445833
2010-01-05  49.491667

In [12]:
len(temp_series)

8759

In [16]:
temp_series['2010-01-01'].mean()

temp    49.170833
dtype: float64