In [1]:
import pandas as pd
import numpy as np

In [2]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)

In [4]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [3]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [6]:
states = pd.DataFrame({'population': population,
                       'area': area})

In [8]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [10]:
area.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [11]:
states.columns

Index(['population', 'area'], dtype='object')

In [12]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [4]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]

In [5]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [6]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [42]:
alphabet = pd.Series(list('abcdefghijklmnopqrstuvwxyz'.upper()), range(1,27))

In [22]:
blob = pd.Series(['3','5','9','22']).astype('int')

In [14]:
blob

0    3
1    5
2    9
dtype: int64

In [15]:
blob + 1

0     4
1     6
2    10
dtype: int64

In [16]:
blob * blob

0     9
1    25
2    81
dtype: int64

In [17]:
blob ** blob

0           27
1         3125
2    387420489
dtype: int64

In [26]:
blob[blob <= 9]

0    3
1    5
2    9
dtype: int64

In [31]:
(blob > 0).all()

True

In [28]:
blob[blob == 5]

1    5
dtype: int64

In [34]:
pd.Series(['z','a', 'b', 'a', 'c', 'b', 'a', 'd', 'a', 'z']).value_counts()

a    4
b    2
z    2
d    1
c    1
dtype: int64

In [38]:
population.describe()

count    5.000000e+00
mean     2.337337e+07
std      9.640386e+06
min      1.288214e+07
25%      1.955286e+07
50%      1.965113e+07
75%      2.644819e+07
max      3.833252e+07
dtype: float64

In [39]:
def is_a_vowel(letter):
    return letter.lower() in 'aeiou'

In [41]:
is_a_vowel('A')

True

In [43]:
alphabet.apply(is_a_vowel)

1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26    False
dtype: bool

In [46]:
veggies = pd.Series(['radish','okra','onion','asparagus'])

In [47]:
veggies.apply(len)

0    6
1    4
2    5
3    9
dtype: int64

In [48]:
veggies

0       radish
1         okra
2        onion
3    asparagus
dtype: object

In [53]:
veggies.str.capitalize()

0       Radish
1         Okra
2        Onion
3    Asparagus
dtype: object

In [54]:
veggies.str.contains('o')

0    False
1     True
2     True
3    False
dtype: bool

In [56]:
veggies.str.replace('a','@')

0       r@dish
1         okr@
2        onion
3    @sp@r@gus
dtype: object

In [57]:
s = pd.Series(range(1,16))

In [59]:
pd.cut(s, 3)

0      (0.986, 5.667]
1      (0.986, 5.667]
2      (0.986, 5.667]
3      (0.986, 5.667]
4      (0.986, 5.667]
5     (5.667, 10.333]
6     (5.667, 10.333]
7     (5.667, 10.333]
8     (5.667, 10.333]
9     (5.667, 10.333]
10     (10.333, 15.0]
11     (10.333, 15.0]
12     (10.333, 15.0]
13     (10.333, 15.0]
14     (10.333, 15.0]
dtype: category
Categories (3, interval[float64]): [(0.986, 5.667] < (5.667, 10.333] < (10.333, 15.0]]

In [68]:
x = np.arange(1,99,3)

In [69]:
x

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49,
       52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97])

In [71]:
X = pd.Series(x)

In [72]:
pd.cut(X,10)

0     (0.904, 10.6]
1     (0.904, 10.6]
2     (0.904, 10.6]
3     (0.904, 10.6]
4      (10.6, 20.2]
5      (10.6, 20.2]
6      (10.6, 20.2]
7      (20.2, 29.8]
8      (20.2, 29.8]
9      (20.2, 29.8]
10     (29.8, 39.4]
11     (29.8, 39.4]
12     (29.8, 39.4]
13     (39.4, 49.0]
14     (39.4, 49.0]
15     (39.4, 49.0]
16     (39.4, 49.0]
17     (49.0, 58.6]
18     (49.0, 58.6]
19     (49.0, 58.6]
20     (58.6, 68.2]
21     (58.6, 68.2]
22     (58.6, 68.2]
23     (68.2, 77.8]
24     (68.2, 77.8]
25     (68.2, 77.8]
26     (77.8, 87.4]
27     (77.8, 87.4]
28     (77.8, 87.4]
29     (87.4, 97.0]
30     (87.4, 97.0]
31     (87.4, 97.0]
32     (87.4, 97.0]
dtype: category
Categories (10, interval[float64]): [(0.904, 10.6] < (10.6, 20.2] < (20.2, 29.8] < (29.8, 39.4] ... (58.6, 68.2] < (68.2, 77.8] < (77.8, 87.4] < (87.4, 97.0]]