In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from dateutil import parser
%matplotlib inline
import seaborn as sns

In [ ]:
series = pd.read_csv('timeSeries.csv', header=0, parse_dates=[0], index_col=0, squeeze=True)

In [ ]:
series['1959-01'].asfreq('H').fillna(7.77)

In [ ]:
plt.plot(series.resample('W').agg('mean'))

In [ ]:
blob = series['1959-05':'1959-10']
x = series.rolling(3).mean()

In [ ]:
len(x)

In [ ]:
len()

In [ ]:
frame = {'Date':series,'3DayAVG': x}

In [ ]:
new_df = pd.DataFrame(frame)

In [ ]:
spam = pd.to_datetime('Jan:1:1970', format='%b:%d:%Y')

In [ ]:
spam.dayofyear

In [ ]:
series.tail()

In [ ]:
series.index.day.nunique()

In [ ]:
series.resample('W').agg('mean')

In [ ]:
series['1959-04'].mean()

In [ ]:
series['1959-07'].mean()

In [ ]:
series.describe()

In [ ]:
pyplot.plot(series)

In [ ]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'battle_deaths': [34, 25, 26, 15, 15, 14, 26, 25, 62, 41]}
df = pd.DataFrame(data, columns = ['date', 'battle_deaths'])

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.index = df['date']

In [ ]:
df.drop('date', axis=1, inplace=True)

In [ ]:
df

In [ ]:
df['2014-05']

In [ ]:
df[datetime(2014, 5, 2):]

In [ ]:
df['2014-05-02':'2014-05-03']

In [ ]:
df.truncate(after='5/3/2014')

In [ ]:
pd.to_datetime('2018-01-15 3:45pm')

In [ ]:
type(pd.to_datetime('2019-01-15 16:45'))

PARSING, using dateutil.parser

In [ ]:
blob = parser.parse('3rd of October, 2011')

In [ ]:
blob

In [ ]:
spam = parser.parse('June 17th, 2006')

In [ ]:
spam

In [ ]:
date = pd.to_datetime("4th of July, 2015")

In [ ]:
date

PARSING, using striptime()

In [ ]:
date_string = "21 June, 2018"

In [ ]:
date_object = datetime.strptime(date_string, "%d %B, %Y")

In [ ]:
spam = parser.parse(date_string)

In [ ]:
spam

In [ ]:
date_object

It looks like using parser.parse(string) does the same as datetime.strptime(string).

Oh, strptime need some "%H" arguments matched to the string components.

In [ ]:
date.strftime("%Y")

In [ ]:
date.strftime("%m,%d")

In [ ]:
date + pd.to_timedelta(np.arange(43), 'D')

In [ ]:
date + pd.to_timedelta(np.arange(6), 'Y')

In [ ]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])

In [ ]:
dates

In [ ]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

In [ ]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])

In [ ]:
dates.to_period('D')

In [ ]:
dates

In [ ]:
dates - dates[4]

In [ ]:
pd.date_range('2015-07-03', '2015-07-10')

In [ ]:
pd.date_range('2018-01-01', '2018-02-01')

In [ ]:
datetime.now()

In [ ]:
now = pd.to_datetime(datetime.now())

In [ ]:
pd.date_range('2019-10-30', now)

In [ ]:
pd.date_range('2019-01-01', now, freq='M')

In [ ]:
pd.date_range('2019-01', '2019-11', freq='M')

In [ ]:
pd.period_range(now, periods=8, freq='B')

In [ ]:
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [ ]:
len(date_rng)

In [ ]:
date_rng[:5]

In [ ]:
type(date_rng)

In [ ]:
type(date_rng[1])

In [ ]:
df = pd.DataFrame(date_rng, columns=['fecha'])

In [ ]:
df['data'] = np.random.randint(0,100, size=(len(date_rng)))

In [ ]:
df.head()

In [ ]:
type(df.fecha)

In [ ]:
df['datetime'] = pd.to_datetime(df['fecha'])

In [ ]:
df = df.set_index('fecha')

In [ ]:
df.drop('datetime', axis=1, inplace=True)

In [ ]:
######

In [ ]:
solar = pd.read_csv('solar.csv')

In [ ]:
solar

In [ ]:
solar.info()

In [2]:
planets = sns.load_dataset('planets')

In [3]:
planets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
method            1035 non-null object
number            1035 non-null int64
orbital_period    992 non-null float64
mass              513 non-null float64
distance          808 non-null float64
year              1035 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [14]:
len(planets.groupby('method'))

10

In [15]:
planets.method.nunique()

10

In [6]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [21]:
planets.groupby('method')['year'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [20]:
planets.groupby('method')['year'].describe().unstack()

       method
count  Astrometry                          2.000000
       Eclipse Timing Variations           9.000000
       Imaging                            38.000000
       Microlensing                       23.000000
       Orbital Brightness Modulation       3.000000
       Pulsar Timing                       5.000000
       Pulsation Timing Variations         1.000000
       Radial Velocity                   553.000000
       Transit                           397.000000
       Transit Timing Variations           4.000000
mean   Astrometry                       2011.500000
       Eclipse Timing Variations        2010.000000
       Imaging                          2009.131579
       Microlensing                     2009.782609
       Orbital Brightness Modulation    2011.666667
       Pulsar Timing                    1998.400000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2007.518987
       Transit                          2011.236776
       Transit Timing Variations        2012.500000
std    Astrometry                          2.121320
       Eclipse Timing Variations           1.414214
       Imaging                             2.781901
       Microlensing                        2.859697
       Orbital Brightness Modulation       1.154701
       Pulsar Timing                       8.384510
       Pulsation Timing Variations              NaN
       Radial Velocity                     4.249052
       Transit                             2.077867
       Transit Timing Variations           1.290994
                                           ...
50%    Astrometry                       2011.500000
       Eclipse Timing Variations        2010.000000
       Imaging                          2009.000000
       Microlensing                     2010.000000
       Orbital Brightness Modulation    2011.000000
       Pulsar Timing                    1994.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2009.000000
       Transit                          2012.000000
       Transit Timing Variations        2012.500000
75%    Astrometry                       2012.250000
       Eclipse Timing Variations        2011.000000
       Imaging                          2011.000000
       Microlensing                     2012.000000
       Orbital Brightness Modulation    2012.000000
       Pulsar Timing                    2003.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2011.000000
       Transit                          2013.000000
       Transit Timing Variations        2013.250000
max    Astrometry                       2013.000000
       Eclipse Timing Variations        2012.000000
       Imaging                          2013.000000
       Microlensing                     2013.000000
       Orbital Brightness Modulation    2013.000000
       Pulsar Timing                    2011.000000
       Pulsation Timing Variations      2007.000000
       Radial Velocity                  2014.000000
       Transit                          2014.000000
       Transit Timing Variations        2014.000000
Length: 80, dtype: float64

In [22]:
planets.groupby('method')['year'].describe().stack()

method
Astrometry                   count       2.000000
                             mean     2011.500000
                             std         2.121320
                             min      2010.000000
                             25%      2010.750000
                             50%      2011.500000
                             75%      2012.250000
                             max      2013.000000
Eclipse Timing Variations    count       9.000000
                             mean     2010.000000
                             std         1.414214
                             min      2008.000000
                             25%      2009.000000
                             50%      2010.000000
                             75%      2011.000000
                             max      2012.000000
Imaging                      count      38.000000
                             mean     2009.131579
                             std         2.781901
                             min      2004.000000
                             25%      2008.000000
                             50%      2009.000000
                             75%      2011.000000
                             max      2013.000000
Microlensing                 count      23.000000
                             mean     2009.782609
                             std         2.859697
                             min      2004.000000
                             25%      2008.000000
                             50%      2010.000000
                                         ...
Pulsation Timing Variations  mean     2007.000000
                             min      2007.000000
                             25%      2007.000000
                             50%      2007.000000
                             75%      2007.000000
                             max      2007.000000
Radial Velocity              count     553.000000
                             mean     2007.518987
                             std         4.249052
                             min      1989.000000
                             25%      2005.000000
                             50%      2009.000000
                             75%      2011.000000
                             max      2014.000000
Transit                      count     397.000000
                             mean     2011.236776
                             std         2.077867
                             min      2002.000000
                             25%      2010.000000
                             50%      2012.000000
                             75%      2013.000000
                             max      2014.000000
Transit Timing Variations    count       4.000000
                             mean     2012.500000
                             std         1.290994
                             min      2011.000000
                             25%      2011.750000
                             50%      2012.500000
                             75%      2013.250000
                             max      2014.000000
Length: 79, dtype: float64

In [23]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [32]:
def filter_func(x):
    return x['data2'].std() < 4

In [33]:
df.groupby('key').filter(filter_func)

  key  data1  data2
0   A      0      5
3   A      3      3

In [27]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641